/* Add CSS declarations for universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add CSS rule for the class selector */

.menu-container {
    color: #fff;
    background-color: #5595DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 28px;
}

/* Add CSS rule for class selector */

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

/* Add CSS rule to the class selector */

.links {
    display: flex;
    justify-content: flex-end;
}

/* Add CSS rule to the class selector */

.login {
    margin-left: 20px;
}

/* Add CSS rule for the class selector */

.header-container {    
    display: flex;
    justify-content: center;
    font-size: 26px;
    background-color: #d6e9fe;
    color: #5595DA;
}

/* Add CSS rule for the class selector */

.header {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 300px;
    align-items: center;
}

/* Add CSS rule for class selector */

.photo-grid-container {
    display: flex;
    justify-content: center;
}

/* Add CSS rule for class selector */

.photo-grid {
    display: flex;
    justify-content: flex-start;
    width: 900px;
}

/* Add CSS rule for class selector */

.photo-grid-item {
    border: 1px solid black;
    display: flex;
    width: 300px;
    height: 300px;
}
